<p>
  <strong>Comment ID</strong>
  <%= comment.id %>
</p>
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', comment_path(comment), method: :delete, data: { confirm: 'Are You Sure ?'} %>

  <td><%# link_to 'Destroy', article_path(article), method: :delete,data: { confirm: 'Are you sure?' } %></td>
</p>
<hr>
